version: "3"
services:
  db:
    image: postgres
    volumes:
      - ./tmp/db:/var/lib/postgresql/data

    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: db
  # dbbackup:
  #   image: postgres
  #   ports:
  #     - "5432:5432"
  #   volumes:
  #     - ./tmp/db:/var/lib/postgresql/data
  #   environment:
  #     POSTGRES_USER: postgres
  #     POSTGRES_PASSWORD: postgres
  #     POSTGRES_DB: db
  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3001 -b '0.0.0.0'"
    volumes:
      - .:/myapp
    ports:
      - "3001:3001"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://postgres@db
      DATABASE_PASSWORD: $DATABASE_PASSWORD
      TWITTER_API_CONSUMER_KEY: $TWITTER_API_CONSUMER_KEY
      TWITTER_API_CONSUMER_SECRET: $TWITTER_API_CONSUMER_SECRET
      TWITTER_API_ACCESS_TOKEN: $TWITTER_API_ACCESS_TOKEN
      TWITTER_API_ACCESS_TOKEN_SECRET: $TWITTER_API_ACCESS_TOKEN_SECRET
      MAILER_ADRESS: $MAILER_ADRESS
      MAILER_EMAIL: $MAILER_EMAIL
      MAILER_EMAIL_PASSWORD: $MAILER_EMAIL_PASSWORD
      GODATA_KEY: $GODATA_KEY
      CSV_DATA_KEY: $CSV_DATA_KEY
      METABASE_SITE_URL: $METABASE_SITE_URL
      METABASE_SECRET_KEY: $METABASE_SECRET_KEY
