<h1>Exclusão da conta</h1>
<p>Olá <%= @user.user_name %>,</p>
<p>Você solicitou a exclusão da sua conta (<%= @user.email %>) no dia <%= Time.now.strftime("%d/%m/%Y") %> (Horário de Brasília).</p>
<p>Sentimos muito que você queria deixar o Guardiões da Saúde.</p>
<p>Todos os dados associados <strong>serão excluídos</strong> em 30 dias a partir da data solicitada.</p>
<p>Se você deseja cancelar esse processo, responda a este email o quanto antes.</p>