<h1>Resgate de senha</h1>
<p>Olá,</p>
<p>Alguém requisitou o resgate da senha da sua conta (<%= @city_manager.email %>).</p>
<p>Caso tenha sido você quem requisitou, use esse código para poder escolher uma nova senha:</h1>
<h4>
  <%= @city_manager.aux_code %>
</h4>
<p>Caso não tenha sido você, ignore este email.</p>
<p>Sua senha <strong>não</strong> será alterada até que você use o código e cria uma nova senha.</p>