<p>Olá <%= @resource.user_name %>!</p>

<p>Alguém requisitou a mudança de senha para a conta <strong><%= @resource.email%></strong>.</p>
<p>Você pode fazer isso no link abaixo.</p>

<p><%= link_to 'Alterar senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Caso não tenha requisitado esta mudança, por favor <strong>ignore esta menssagem</strong>.</p>
<p>Sua senha <strong>não</strong> será alterada até que você acesse o link e cria uma nova senha.</p>
